.header{
  background-color: #843534;
  height: auto;
  padding: 10px; !important;
}

.header-text p{
  text-align: right;
  padding: 0;
  margin: 0;
  color: #fff;
}

.container2{
  border: 1px solid #8f9497; !important;
}

.htext{
  color: #675F5A;
}

.down-header h3{
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.second-header{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 15px; !important;
  padding-right: 15px; !important;
}

.from{
  border: 2px solid #856C66;
  border-radius: 5px;
  padding: 2px; !important;
}

.account{
  border: 2px solid #856C66;
  border-radius: 5px;
  padding: 0; !important;
}

.to{
  border: 2px solid #856C66;
  border-radius: 5px;
  padding: 2px; !important;
}

.from-header{
  background-color: #856C66;
  border-top-left-radius: 5px; !important;
  border-top-right-radius: 5px; !important;
  margin-bottom: 5px; !important;

}
.table{
  margin-bottom: 0px; !important;
}
.from-header h4{
  color: #fff;
}

.from-text > p{
  background-color: #EEEDED; !important;
  padding: 0 0 0 5px; !important;
  margin: 0;
  margin-bottom: 3px;
  color: #807874; !important;
}

.description{
  background-color: #C47B5D;
  border-top-left-radius: 5px; !important;
  border-top-right-radius: 5px; !important;
  margin-bottom: 5px; !important;
}

.description h4{
  color: #fff;
}

.description2{
  background-color: #E6BE73;
  border-top-left-radius: 2px; !important;
  border-top-right-radius: 2px; !important;
  margin-bottom: 5px; !important;
}

.description2 h4{
  color: #fff;
}
input.btn.btn-info.invoice {
  float: right;
  margin: 50px 100px;
}

.account input {
  border: none;
}

/*@media print {*/
  /*.header{*/
    /*display: list-item;*/
    /*background-origin: content-box;*/
  /*}*/
/*}*/

