/*just bg and body style*/
/*body{*/
    /*font-family:'Open sans';*/
/*}*/
.gallerycontainer{
    font-family:'Open sans';
    background-color:#1E2832;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
    max-width: 1120px;
}
.center{
    text-align:center;
}
#top{
    margin-top:20px;
}
.btn-container{
    background:#fff;
    border-radius:5px;
}
.white{
    color:white;
}
h1.imgupload{
    color:#1E2832;
    padding-top:40px;
    font-size:10em;
}
#namefile{
    color:black;
}
h4>strong{
    color:#ff3f3f
}
.btn-primary{
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
    border-color: #ff3f3f !important;
}
.form-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/*these two are set to not display at start*/
h1.imguploadok{
    display:none;
    color:green;
    padding-top:40px;
    font-size:10em;
}
h1.imguploadstop{
    display:none;
    color:red;
    padding-top:40px;
    font-size:10em;
}


/*this set the actual file input to overlay our button*/
#fileup{
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin: -40px auto 50px auto;
    padding: 10px 5px;
    cursor: pointer;
}

/*.caption {*/
    /*border:2px solid white;*/
    /*outline-style:solid;*/
    /*outline-color:invert;*/
/*}*/
.caption > a > p {
    color: white;
    text-align: center;
}

.cbox {
    position: absolute;
    right: 20px;
    bottom: 12px;
}

h1.files {
    text-align: center;
    padding: 0px 0px 20px;
}

